
  <div >
      <img src="assets/img/back2.PNG" width="100%" height="300"/>
      
      <h1>美食的世界</h1>
      <p>吃也是一门艺术<br/>
          吃得好就是美食家</p>
       
      <style>
          div{position: relative;}
          h1{color:rgb(30, 144, 210);position: absolute;top: 40px;left:50%;  ;}
          p{color:rgb(30, 144, 210)ua;position: absolute;top: 90px;left:55%;}
      </style>
      </div>
     
      
      <button class="btn btn-primary" routerLink="/home"><i class="fas fa-magic mr-1" ></i> 首页</button>
      <button class="btn btn-primary" routerLink="/food"><i class="fas fa-magic mr-1" ></i> 美味</button>
      <button class="btn btn-default"routerLink="/plan">菜谱<i class="fas fa-magic ml-1"></i></button>
      <button class="btn btn-default"routerLink="/play">灵感<i class="fas fa-magic ml-1"></i></button>
      <button class="btn btn-default"routerLink="/comment">学生<i class="fas fa-magic ml-1"></i></button>
      <button class="btn btn-default"routerLink="/student">添加<i class="fas fa-magic ml-1"></i></button>
      
  <router-outlet></router-outlet>
  
  
    
  